
/* Your CSS Code here. */
*{
	margin:0px;
	padding:0px;
}
nav{
	background-color:black;
	position:relative;
	top:0px;
	
}
a{
	text-decoration:none;
	color:white;
	font-size:20px;
	font-weight:900;
	
}
li{
	list-style:none;
	padding:10px 20px;
	
}
ul{
	display:flex;
	/* align-items:start; */
	/* justify-content:start; */
	
}
h1{
	color:black;
	margin:10px 0px;
}
